/* hanger */
.hanger-container {
  position: relative;
  width: 16rem;

  & .rope {
    height: 50px;
    width: 10px;
    background: black;
    position: absolute;
    top: 0;
    left: 15.5rem;
  }

  & .hanger {
    height: 20px;
    width: 200px;
    background: black;
    margin-left: 90px;
  }

  & .pole {
    height: 400px;
    width: 20px;
    background: black;
    margin-left: 90px;
  }

  & .base {
    height: 20px;
    width: 200px;
    background: black;
  }
}

/* body parts */
.head {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 10px solid #8c04bd;
  position: absolute;
  top: 50px;
  right: -30px;
}

.body {
  width: 10px;
  height: 100px;
  background: blue;
  position: absolute;
  top: 115px;
  right: 0;
}

.armRight {
  width: 80px;
  height: 10px;
  background: blue;
  position: absolute;
  top: 140px;
  right: -70px;
  transform: rotate(40deg);
  transform-origin: left bottom;
}

.armLeft {
  width: 80px;
  height: 10px;
  background: blue;
  position: absolute;
  top: 140px;
  right: 0px;
  transform: rotate(-40deg);
  transform-origin: right bottom;
}

.legRight {
  width: 100px;
  height: 10px;
  background: blue ;
  position: absolute;
  top: 200px;
  right: -90px;
  transform: rotate(60deg);
  transform-origin: left bottom;
}

.legLeft {
  width: 100px;
  height: 10px;
  background: blue;
  position: absolute;
  top: 200px;
  right: 0;
  transform: rotate(-60deg);
  transform-origin: right bottom;
}
