h1{
    margin-bottom: 15rem;
    text-align: center;
    font-size: 3rem;

    font-size: 1rem; 
    transition: font-size 0.3s ease; 
}

h1.appear {
  font-size: 3rem; 
}

main {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  margin-bottom: 4rem;
  margin-top: 4rem;

  & section{
    display: flex;
    flex-direction: column;
  }
}

.info{
  margin: 4rem auto;
  max-width: 80ch;
  background-color: #ffffff61;
  padding: 1rem;
  border-radius: 0.5rem;

  & h2{
    margin-bottom: 1rem;
  }
}